body {
    background-color: black;
}
h1 {
  text-align: center;
  color: yellow;
}
h4 {
    text-align: center;
    color: yeelow;
}
.center {
      display: block;
  margin-left: auto;
  margin-right: auto;
}
